#Avantra Database Connection.
username={{ avantra_server_db_username }}
password={{ avantra_server_db_password }}
username_encrypted=
password_encrypted=
url=jdbc\:postgresql\://{{ avantra_server_db_host }}:{{ avantra_server_db_port }}/{{ avantra_server_db_name }}
driver=org.postgresql.Driver
